body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

section {
    margin-bottom: 100px;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 800;
    padding: 10px 0;
    color: black;


}

p {
    font-size: 15px;
    padding: 5px 0;
    margin: 0;

}

.overlay {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(30, 29, 29, 0.689);
    text-align: center;
    padding-top: 130px;

}

#head {
    width: 100%;
    height: 600px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;


}

#head h1 {
    color: white;
    padding: 0 350px;
    padding-bottom: 20px;
}



#head p {
    color: white;
}

.donate {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
}